hr{
    height: 2px;
    background-color: purple;
   border: 0ch;
}

h3{
    color: rgb(66, 238, 181);
}

h1{
    color: palevioletred;
}

h2{
    color: rgb(233, 109, 109);
}
h5{
    color: cadetblue;
}

